{%  if platform_defaults.type == 3750 or platform_defaults.type == 3850 %}
{%      if host_defaults.stack_size is defined %}
{%          if host_defaults.stack_size == 2 %}
stack-power stack Powerstack01
stack-power switch 1
 stack Powerstack01
stack-power switch 2
 stack Powerstack01
{%          endif %} 
{%          if host_defaults.stack_size == 3 %}
stack-power stack Powerstack01
stack-power switch 1
 stack Powerstack01
stack-power switch 2
 stack Powerstack01
stack-power switch 3
 stack Powerstack01
{%          endif %} 
{%          if host_defaults.stack_size == 4 %}
stack-power stack Powerstack01
stack-power switch 1
 stack Powerstack01
stack-power switch 2
 stack Powerstack01
stack-power switch 3
 stack Powerstack01
stack-power switch 4
 stack Powerstack01
{%          endif %} 
{%          if host_defaults.stack_size == 5 %}
stack-power stack Powerstack01
stack-power stack Powerstack02
stack-power switch 1
 stack Powerstack01
stack-power switch 2
 stack Powerstack01
stack-power switch 3
 stack Powerstack01
stack-power switch 4
 stack Powerstack02
stack-power switch 5
 stack Powerstack02
{%          endif %} 
{%          if host_defaults.stack_size == 6 %}
stack-power stack Powerstack01
stack-power stack Powerstack02
stack-power switch 1
 stack Powerstack01
stack-power switch 2
 stack Powerstack01
stack-power switch 3
 stack Powerstack01
stack-power switch 4
 stack Powerstack02
stack-power switch 5
 stack Powerstack02
stack-power switch 6
 stack Powerstack02
{%          endif %} 
{%          if host_defaults.stack_size == 7 %}
stack-power stack Powerstack01
stack-power stack Powerstack02
stack-power switch 1
 stack Powerstack01
stack-power switch 2
 stack Powerstack01
stack-power switch 3
 stack Powerstack01
stack-power switch 4
 stack Powerstack01
stack-power switch 5
 stack Powerstack02
stack-power switch 6
 stack Powerstack02
stack-power switch 7
 stack Powerstack02
{%          endif %} 
{%          if host_defaults.stack_size == 8 %}
stack-power stack Powerstack01
stack-power stack Powerstack02
stack-power switch 1
 stack Powerstack01
stack-power switch 2
 stack Powerstack01
stack-power switch 3
 stack Powerstack01
stack-power switch 4
 stack Powerstack01
stack-power switch 5
 stack Powerstack02
stack-power switch 6
 stack Powerstack02
stack-power switch 7
 stack Powerstack02
stack-power switch 8
 stack Powerstack02
{%          endif %} 
{%          if host_defaults.stack_size == 9 %}
stack-power stack Powerstack01
stack-power stack Powerstack02
stack-power stack Powerstack03
stack-power switch 1
 stack Powerstack01
stack-power switch 2
 stack Powerstack01
stack-power switch 3
 stack Powerstack01
stack-power switch 4
 stack Powerstack02
stack-power switch 5
 stack Powerstack02
stack-power switch 6
 stack Powerstack02
stack-power switch 7
 stack Powerstack03
stack-power switch 8
 stack Powerstack03
stack-power switch 9
 stack Powerstack03
{%          endif %} 
{%      endif %}
{%  endif %}