{%  if platform_prefix_lists is defined %}
{%      for platform_prefix_list in platform_prefix_lists %}
{%          for list in platform_prefix_lists[platform_prefix_list].lists %}
ip prefix-list {{ platform_prefix_list }} seq {{ list }} {{ platform_prefix_lists[platform_prefix_list].lists[list].permission }} {{ platform_prefix_lists[platform_prefix_list].lists[list].network }}
{%          endfor %}
{%      endfor %}
{%  endif %}